<html>
  <head>
    <title>Modelo de la Bauxita</title>
  </head>
  <body>
    <h2>Costos Fijos</h2>

    <form method="post">
      <input type="text" placeholder="Costo de la planta B" name="costo_B">
      <input type="text" placeholder="Costo de la planta C" name="costo_C">
      <input type="text" placeholder="Costo de la planta D" name="costo_D">
      <input type="text" placeholder="Costo de la planta E" name="costo_E">
      <button type="submit">Ejecutar el modelo</button>
    </form>

    {% if costo_total %}
      <h3>Resultado:</h3>
      <pre>{{ resultado }}</pre>
    {% endif %}
  </body>
</html>